@supports (animation-timeline: scroll()) {
    .countone.carouselcont {
        timeline-scope: --one;
    }

    .counttwo.carouselcont {
        timeline-scope: --one, --two;
    }

    .countthree.carouselcont {
        timeline-scope: --one, --two, --three;
    }

    .countfour.carouselcont {
        timeline-scope: --one, --two, --three, --four;
    }

    .countfice.carouselcont {
        timeline-scope: --one, --two, --three, --four, --five;
    }

    .countsix.carouselcont {
        timeline-scope: --one, --two, --three, --four, --five, --six;
    }

    .carousel__indicators {
        aspect-ratio: 15 / 1;
    }

    .countsix li:nth-of-type(1) {
        view-timeline: --one inline;
    }

    .countsix li:nth-of-type(2) {
        view-timeline: --two inline;
    }

    .countsix li:nth-of-type(3) {
        view-timeline: --three inline;
    }

    .countsix li:nth-of-type(4) {
        view-timeline: --four inline;
    }

    .countsix li:nth-of-type(5) {
        view-timeline: --five inline;
    }

    .countsix li:nth-of-type(6) {
        view-timeline: --six inline;
    }

    .countsix .indicator {
        --buffer: calc(var(--thumb-size) * 0.9);
        animation: blink both linear;
        animation-range: contain calc(50% - var(--buffer)) contain
            calc(50% + var(--buffer));
    }

    .countsix .indicator:nth-of-type(1) {
        animation-timeline: --one;
    }

    .countsix .indicator:nth-of-type(2) {
        animation-timeline: --two;
    }

    .countsix .indicator:nth-of-type(3) {
        animation-timeline: --three;
    }

    .countsix .indicator:nth-of-type(4) {
        animation-timeline: --four;
    }

    .countsix .indicator:nth-of-type(5) {
        animation-timeline: --five;
    }

    .countsix .indicator:nth-of-type(6) {
        animation-timeline: --six;
    }

    @keyframes blink {
        50% {
            flex: 3;
        }
    }

    .countsix .indicator::after {
        --buffer: calc(var(--thumb-size) * 0.9);
        opacity: 0;
        animation: show both linear;
        animation-range: contain calc(50% - var(--buffer)) contain
            calc(50% + var(--buffer));
    }

    .countsix .indicator:nth-of-type(1)::after {
        animation-timeline: --one;
    }

    .countsix .indicator:nth-of-type(2)::after {
        animation-timeline: --two;
    }

    .countsix .indicator:nth-of-type(3)::after {
        animation-timeline: --three;
    }

    .countsix .indicator:nth-of-type(4)::after {
        animation-timeline: --four;
    }

    .countsix .indicator:nth-of-type(5)::after {
        animation-timeline: --five;
    }

    .countsix .indicator:nth-of-type(6)::after {
        animation-timeline: --six;
    }

    @keyframes show {
        50% {
            opacity: 1;
        }
    }
}
