:root {
    --root-size: 100vmin;
    --bento-margin: 0.5rem;
    --bento-buffer: calc(var(--bento-margin) * 2);
    --bento-pad: 1rem;
    --bento-nopad: calc(var(--bento-pad) * 2);

    --1-3: calc(var(--root-size) / 3);
    --1-4: calc(var(--root-size) / 4);

    --3rd: var(--1-3);
    --23rd: calc((var(--1-3) * 2));
    --4r: var(--1-4);
    --24r: calc((var(--1-4) * 2));
    --34r: calc((var(--1-4) * 3));
    --fw: calc(var(--root-size));

    /* --3rd: calc(var(--1-3) - var(--bento-nopad));
    --23rd: calc((var(--1-3) * 2) - var(--bento-nopad));
    --4r: calc(var(--1-4) - var(--bento-nopad));
    --24r: calc((var(--1-4) * 2) - var(--bento-nopad));
    --34r: calc((var(--1-4) * 3) - var(--bento-nopad));
    --fw: calc(var(--root-size) - var(--bento-nopad)); */

    /*
    --3rd: calc(calc(100vmin / 3) - var(--bento-nopad));
    --23rd: calc(calc((100vmin / 3) * 2) - var(--bento-nopad));
    --4r: calc(25vmin - var(--bento-nopad));
    --24r: calc(50vmin - var(--bento-nopad));
    --34r: calc(75vmin - var(--bento-nopad));
    --fw: calc(100vmin - var(--bento-nopad)); */
}

.bentobox {
    width: var(--root-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    width: 100vmin;
    max-width: 100vmin;
}

.bento {
    margin: var(--bento-margin);
    border-radius: 2vmin;
    overflow: hidden;

    padding: var(--bento-pad);

    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.brow {
    margin: var(--bento-margin);
    width: auto;
    display: flex;
    flex-direction: row;
    align-conetent: space-around;
}

.brow .bento:first-child {
    margin: 0;
    margin-right: var(--bento-margin);
}

.brow .bento:last-child {
    margin: 0;
    margin-left: var(--bento-margin);
}

.bcol {
    margin: var(--bento-margin);
    width: auto;
    display: flex;
    flex-direction: column;
    align-conetent: space-around;
}

.bcol .bento,
.bcol .brow,
.brow .bcol {
    margin: 0;
}

.bcol .bento:first-child {
    margin: 0;
    margin-bottom: var(--bento-margin);
}

.bcol .bento:last-child {
    margin: 0;
    margin-top: var(--bento-margin);
}

.bcol3rd {
    width: var(--3rd);
}

.bcol23rd {
    width: var(--23rd);
}

.bcol4r {
    width: var(--4r);
}

.bcol24r {
    width: var(--24r);
}

.bcol34r {
    width: var(--34r);
}

.bcolfw {
    width: var(--fw);
}

.bw3rd {
    width: calc(var(--3rd) - var(--bento-buffer));
}

.bw23rd {
    width: calc(var(--23rd) - var(--bento-buffer));
}

.bw4r {
    width: calc(var(--4r) - var(--bento-buffer));
}

.bw24r {
    width: calc(var(--24r) - var(--bento-buffer));
}

.bw34r {
    width: calc(var(--34r) - var(--bento-buffer));
}

.bwfw {
    width: calc(var(--fw) - var(--bento-buffer));
}

.bh3rd {
    height: calc(var(--3rd) - var(--bento-buffer));
}

.bh23rd {
    height: calc(var(--23rd) - var(--bento-buffer));
}

.bh4r {
    height: calc(var(--4r) - var(--bento-buffer));
}

.bh24r {
    height: calc(var(--24r) - var(--bento-buffer));
}

.bh34r {
    height: calc(var(--34r) - var(--bento-buffer));
}

.bhfw {
    height: calc(var(--fw) - var(--bento-buffer));
}
