:root {
    --bento-buffer: 1vmin;
    --bento-pad: 2vmin;
    --3rd: calc(33vmin - var(--bento-pad));
    --23rd: calc(66vmin - var(--bento-pad));
    --4r: calc(25vmin - var(--bento-pad));
    --24r: calc(50vmin - var(--bento-pad));
    --34r: calc(75vmin - var(--bento-pad));
    --fw: calc(100vmin - var(--bento-pad));
}

.bentobox {
    width: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    max-width: 100vmin;
}

.bento {
    margin: var(--bento-buffer);
    border-radius: 2vmin;
    overflow: hidden;

    padding: var(--bento-pad);
}

.bento * {
}

.bcol {
    width: var(--third);
}

.bw3rd {
    width: calc(var(--3rd) - var(--bento-buffer));
}

.bw23rd {
    width: calc(var(--23rd) - var(--bento-buffer));
}

.bw4r {
    width: calc(var(--4r) - var(--bento-buffer));
}

.bw24r {
    width: calc(var(--24r) - var(--bento-buffer));
}

.bw34r {
    width: calc(var(--34r) - var(--bento-buffer));
}

.bwfw {
    width: calc(var(--fw) - var(--bento-buffer));
}

.bh3rd {
    height: calc(var(--3rd) - var(--bento-buffer));
}

.bh23rd {
    height: calc(var(--23rd) - var(--bento-buffer));
}

.bh4r {
    height: calc(var(--4r) - var(--bento-buffer));
}

.bh24r {
    height: calc(var(--24r) - var(--bento-buffer));
}

.bh34r {
    height: calc(var(--34r) - var(--bento-buffer));
}

.bhfw {
    height: calc(var(--fw) - var(--bento-buffer));
}
