body {
    background: #1a181b;

    display: flex;
    justify-content: center;
}

body * {
    font-family: raleway;
    color: #fbfbfb;
}

h1 {
    font-weight: 900;
}

.bentobox {
}

.bento {
    background: #272428;
    box-sizing: border-box;
    border: solid 1px #403d43;
}

.bento img {
    width: 80%;
}

.itemname {
}
