:root {
    /* Primarys */
    --primary: #8f62d4;
    --primary-content: #ffffff;
    --primary-light: #ac8adf;
    --primary-dark: #723ac9;

    /* Secondary */
    --secondary: #d4626e;
    --seconday-content: #2b0c0f;
    --seconday-light: #df8a93;
    --seconday-dark: #c93a49;

    /* Neutrals */
    --foreground: #262428;
    --background: #19181b;
    --border: #3f3d43;
    --copy: #fbfbfb;
    --copy-light: #d8d7db;
    --copy-lighter: #a5a1aa;

    /* Utility */
    --success: #62d462;
    --warning: #d4d462;
    --error: #d46262;
    --success-content: #0c2b0c;
    --warning-content: #2b2b0c;
    --error-content: #2b0c0c;

    --thumb-size: calc(var(--24r) - var(--bento-buffer) - var(--bento-nopad));
}

body {
    background: var(--background);

    display: flex;
    justify-content: center;
}

body * {
    font-family: raleway;
    color: var(--copy);
}

h1,
h2,
h3 {
    width: 100%;
}

h1 {
    font-weight: 900;
    font-size: 5vmin;
}

h2 {
    font-size: 4vmin;
}

h3 {
    font-size: 2vmin;
}

p {
    font-size: 2vmin;
}

table * {
    font-size: 2vmin;
}

.bentobox {
}

.bento {
    background: var(--foreground);
    box-sizing: border-box;
    border: solid 1px var(--border);
    box-shadow: 0px 3px 2px -1px rgba(255, 255, 255, 0.2);
}

.bento .image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bento h1,
.bento h2,
.bento h3,
.bento p,
.bento li,
.bento tr {
    margin-top: 0;
}

.bento .image img {
    width: 80%;
    height: 80%;
}

.bento .itemname {
}

.condition .faulty,
.condition .damaged {
    color: var(--error);
    font-weight: 900;
}

.condition .untested {
    color: var(--warning);
    font-weight: 700;
}

.condition .new,
.condition .likenew,
.condition .working {
    color: var(--success);
    font-weight: 500;
}

.conditiontable td:first-child {
    font-weight: 800;
}

.thumbnail {
    height: 100%;
}

.carouselcont {
    position: relative;
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    max-width: 100%;
    list-style-type: none;
    overflow: auto;
    height: 100%;
    align-content: center;
    align-items: center;
    scroll-behavior: smooth;
    scrollbar-height: none;
    -ms-overflow-style: none;

    /* padding-inline: calc(var(--thumb-size));
    scroll-padding-inline: calc(var(--thumb-size) - 1rem); */
}

.carousel::-webkit-scrollbar {
    display: none;
    height: 0;
    scrollbar-height: none;
    -ms-overflow-style: none;
}

.carousel li {
    scroll-snap-align: center;
    position: relative;
    height: var(--thumb-size);
}

:is(li, .indicator):nth-of-type(1) {
    --hue: 0;
}

:is(li, .indicator):nth-of-type(2) {
    --hue: 200;
}

:is(li, .indicator):nth-of-type(3) {
    --hue: 45;
}

:is(li, .indicator):nth-of-type(4) {
    --hue: 210;
}

:is(li, .indicator):nth-of-type(5) {
    --hue: 280;
}

:is(li, .indicator):nth-of-type(6) {
    --hue: 280;
}

:is(li, .indicator):nth-of-type(7) {
    --hue: 280;
}

.carousel__indicators {
    height: 0.5em;
    position: absolute;
    bottom: calc(var(--bento-pad) + 0.5em);
    left: 50%;
    translate: -50% 0;
    display: flex;
}

.indicator {
    --color: hsl(var(--hue, 0) 0% 86%);
    background: linear-gradient(var(--color), var(--color)) padding-box;
    flex: 1;
    border-radius: 2em;
    height: 100%;
    min-width: 0.5em;
    cursor: pointer;
    padding: 0;
    position: relative;
    border: 4px solid transparent;
}

.indicator::after {
    content: "";
    border-radius: 1em;
    position: absolute;
    inset: 0;
    background: var(--success);
}

@supports (animation-timeline: scroll()) {
    .carouselcont {
        timeline-scope: --one, --two, --three, --four, --five, --six, --seven;
    }

    .carousel__indicators {
        aspect-ratio: 15 / 1;
    }

    li:nth-of-type(1) {
        view-timeline: --one inline;
    }

    li:nth-of-type(2) {
        view-timeline: --two inline;
    }

    li:nth-of-type(3) {
        view-timeline: --three inline;
    }

    li:nth-of-type(4) {
        view-timeline: --four inline;
    }

    li:nth-of-type(5) {
        view-timeline: --five inline;
    }

    li:nth-of-type(6) {
        view-timeline: --six inline;
    }

    li:nth-of-type(7) {
        view-timeline: --seven inline;
    }

    .indicator {
        --buffer: calc(var(--thumb-size) * 0.9);
        animation: blink both linear;
        animation-range: contain calc(50% - var(--buffer)) contain
            calc(50% + var(--buffer));
    }

    .indicator:nth-of-type(1) {
        animation-timeline: --one;
    }

    .indicator:nth-of-type(2) {
        animation-timeline: --two;
    }

    .indicator:nth-of-type(3) {
        animation-timeline: --three;
    }

    .indicator:nth-of-type(4) {
        animation-timeline: --four;
    }

    .indicator:nth-of-type(5) {
        animation-timeline: --five;
    }

    .indicator:nth-of-type(6) {
        animation-timeline: --six;
    }

    .indicator:nth-of-type(7) {
        animation-timeline: --seven;
    }

    @keyframes blink {
        50% {
            flex: 3;
        }
    }

    .indicator::after {
        --buffer: calc(var(--thumb-size) * 0.9);
        opacity: 0;
        animation: show both linear;
        animation-range: contain calc(50% - var(--buffer)) contain
            calc(50% + var(--buffer));
    }

    .indicator:nth-of-type(1)::after {
        animation-timeline: --one;
    }

    .indicator:nth-of-type(2)::after {
        animation-timeline: --two;
    }

    .indicator:nth-of-type(3)::after {
        animation-timeline: --three;
    }

    .indicator:nth-of-type(4)::after {
        animation-timeline: --four;
    }

    .indicator:nth-of-type(5)::after {
        animation-timeline: --five;
    }

    .indicator:nth-of-type(6)::after {
        animation-timeline: --six;
    }

    .indicator:nth-of-type(7)::after {
        animation-timeline: --seven;
    }

    @keyframes show {
        50% {
            opacity: 1;
        }
    }
}

table td {
    padding-bottom: 0.2em;
}

table td:first-child {
    padding-right: 1em;
}
